.video-preview{
  width:100%;
  object-fit: cover;
}
.title{
  margin-top: 0px;
  font-size: 14px;
  font-weight: 700;
  display: inline-block;
  margin-bottom: 0px;
}
.channel_name,.description{
  font-weight: 400;
  font-size: 13px;
  color: grey;
  margin-top: 5px;
  margin-bottom: 0px;
}
.profile{
  display: inline-block;
  width: 50px;
 }
.video-description{
  display: inline-block;
  width: 100%;
}
.video-info{
  display: grid;
  grid-template-columns: 50px 1fr; 
  column-gap:5px ;
}
.pic{
  width: 50px;
  border-radius: 25px;
}
.video-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 15px;
  row-gap: 40px;
}
.header{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  height: 60px;
  align-items: center;
  border-bottom-width: 0.5px;
  border-bottom-style:solid ;
  border-bottom-color: rgb(240, 233, 233);
  position: fixed;
  background-color: white;
  top:0;
  left: 0;
  right: 0;
  height: 55px;
  z-index: 1;


}
.left-section{
  display: flex;
  align-items: center;
}
.middle-section{
  flex: 1;
  margin-left: 70px;
  margin-right: 35px;
  max-width: 500px;
  display: flex;
  align-items: center;
}
.right-section{
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 15px;
  flex-shrink: 0;
}
.hamburger-menu{
  height: 25px;
  width:35px;
  margin-left: 30px;
  margin-right: 25px;
  cursor: pointer;
}
.youtube-logo{
  height: 60px;
  width: 100px;
  cursor: pointer;
}
.search{
  width: 28px;
  height: 30px;
}
.search-bar{
  flex: 1;
  height: 35px;
  border-style: bold;
  border-width: 1px;
  border-color: gray;
  border-radius: 2px;
  padding-left: 10px;
  font-size: 16px;
  width:0px    
}
.search-button{
  height: 39px;
  width: 60px;
  background-color: #f7f7f7;
  border-style: bold;
  border-width: 1px;
  border-color: gray;
  border-radius:2px ;
  cursor: pointer;
  margin-left: -1px;
  
}
.voice-search{
  height: 24px;
  width: 25px;
  
}
.voice-button{
  height: 40px;
  margin-left: 10px;
  border-radius: 38px;
  background-color: #f7f7f7;
  padding-top: 5px;
  border-style: none;
  border-width: 1px;
  border-color: gray;
  cursor: pointer;
}
.upload{
  width:30px;
  height: 28px;
  cursor: pointer;
}
.youtube-apps{
  height: 30px;
  width:28px;
  cursor: pointer;
}
.notification{
  height: 30px;
  width: 28px;
  cursor: pointer;
}
.my-channel{
  
  height: 30px;
  width: 30px;
  cursor: pointer;
  border-radius: 50%;
}
.sidebar{
  position: fixed;
  bottom: 0;
  top: 55px;
  background-color: white;
  width: 72px;
  left: 0;
  z-index: 1;
  
  
}
.thumb{
  position: relative;
  z-index: 0;
}
.time{
  position: absolute;
  color: white;
  background-color: black;
  bottom: 8px;
  right: 5px;
  border-radius: 2px;
}
.noti{
  position: relative;
}
.number{
  position: absolute;
  top: -2px;
  right: -4px;
  background-color: red;
  color: white;
  font-size: 12px;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 15px;
}
.sidebar-link{
  font-size: 11px;
  height: 74px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.sidebar-link img{
  height: 24px;
margin-bottom: 5px
}
.sidebar-link:hover{
  background-color: rgb(233, 233, 233);
}